<nz-layout class="main-page-layout">
  <nz-header class="main-page-header">
      <nz-breadcrumb>
          <nz-breadcrumb-item>
              <a href="#/home">首页</a>
          </nz-breadcrumb-item>
          <nz-breadcrumb-item>
              用户管理
          </nz-breadcrumb-item>
      </nz-breadcrumb>
  </nz-header>
  <nz-content class="main-page-content">
      <div class="tableListSearch">
          <!--表单-->
          <form nz-form>
              <!--行-->
              <div nz-row nz-form-item>
                  <!--列-->
                  <div nz-col [nzSpan]="6">
                      <div nz-form-label nz-col [nzSpan]="5">
                          <label>模糊查询</label>
                      </div>
                      <div nz-form-control nz-col [nzSpan]="17">
                          <nz-input [nzType]="'text'" name="searchText" [(ngModel)]="paramCol.searchText" [nzPlaceHolder]="'编号/帐号/姓名/手机'" [nzSize]="'default'"></nz-input>
                      </div>
                  </div>
                  <div nz-col [nzSpan]="6">
                      <div nz-form-label nz-col [nzSpan]="5">
                          <label>用户状态</label>
                      </div>
                      <div nz-form-control nz-col [nzSpan]="17">
                          <nz-select name="selectedOption" [(ngModel)]="paramCol.enabled" [nzPlaceHolder]="'请选择'" nzAllowClear>
                              <nz-option *ngFor="let option of userState" [nzLabel]="option.name" [nzValue]="option.id"></nz-option>
                          </nz-select>
                      </div>
                  </div>
                  <div nz-col [nzSpan]="6">
                      <div nz-form-label nz-col [nzSpan]="5">
                          <label>组织/部门</label>
                      </div>
                      <div nz-form-control nz-col [nzSpan]="17">
                          <nz-cascader 
                          [nzPlaceHolder]="'组织/部门'" 
                          [nzValueProperty]="'dept_id'" 
                          [nzLabelProperty]="'dept_name'" 
                          (nzLoad)="loadDept($event)"
                          name="dept" 
                          nzChangeOnSelect="true"
                          [(ngModel)]="paramCol.dept_id">
                      </nz-cascader> 
                      </div>
                  </div>
              </div>
              <div nz-row nz-form-item>
                  <div class="row-actions">
                      <button nz-button nzType="primary" (click)="showModalMiddle()">
                          <i class="anticon anticon-plus"></i>
                          <span>新增</span>
                      </button>
                      <nz-dropdown>
                          <button nz-button nz-dropdown>
                              <span>更多操作</span>
                              <i class="anticon anticon-down"></i>
                          </button>
                          <ul nz-menu>
                              <li nz-menu-item>
                                  <a>批量审核</a>
                              </li>
                              <li nz-menu-item>
                                  <a (click)="enabledUser()">启用/停用</a>
                              </li>
                          </ul>
                      </nz-dropdown>
                  </div>
                  <div class="row-questions">
                      <button nz-button nzType="primary" (click)="reload(true)" [nzLoading]="_loading">
                          <i class="anticon anticon-search"></i>
                          <span>查询</span>
                      </button>
                      <button nz-button nzType="" (click)="resetForm()">
                          <span>重置</span>
                      </button>
                  </div>
              </div>
          </form>

          <nz-table #nzTable nzShowSizeChanger [nzShowTotal]="true" [nzAjaxData]="tableData" [nzLoading]="_loading" [nzPageSize]="param.pageSize"
              [nzPageIndex]="param.pageNum" [nzTotal]="param.total" (nzPageIndexChangeClick)="reload($event)" (nzPageSizeChange)="reload(true)">
              <thead nz-thead>
                  <tr>
                      <th nz-th nzCheckbox>
                          <label nz-checkbox [(ngModel)]="_allChecked" [nzIndeterminate]="_indeterminate" (ngModelChange)="_checkAll($event)"></label>
                      </th>
                      <th nz-th>
                          <span>头像</span>
                      </th>
                      <th nz-th>
                          <span>帐号</span>
                          <nz-table-sort [(nzValue)]="sortMap.user_name" (nzValueChange)="sort('user_name', $event)"></nz-table-sort>
                      </th>
                      <th nz-th>
                          <span>真实姓名</span>
                          <nz-table-sort [(nzValue)]="sortMap.user_real_name" (nzValueChange)="sort('user_real_name', $event)"></nz-table-sort>
                      </th>
                      <th nz-th>
                          <span>组织</span>
                      </th>
                      <th nz-th>
                          <span>角色</span>
                      </th>
                      <th nz-th>
                          <span>联系方式</span>
                      </th>
                      <th nz-th>
                          <span>状态</span>
                      </th>
                      <th nz-th>
                          <span>操作</span>
                      </th>
                  </tr>
              </thead>
              <tbody nz-tbody>
                  <tr nz-tbody-tr *ngFor="let data of nzTable.data">
                      <td nz-td nzCheckbox>
                          <label nz-checkbox [(ngModel)]="data.checked" (ngModelChange)="_refreshStatus($event)"></label>
                      </td>
                      <td nz-td *ngIf="data.icon">
                          <img class="uhead" src="{{service.ctxPath + data.icon}}">
                      </td>
                      <td nz-td *ngIf="!data.icon">
                          <span class="uhead">{{data.user_real_name.substr(0,1)}}</span>
                      </td>
                      <td nz-td>{{data.user_name}}</td>
                      <td nz-td>{{data.user_real_name}}</td>
                      <td nz-td *ngIf="data.dept_names">{{data.dept_names}}</td>
                      <td nz-td *ngIf="!data.dept_names">--</td>
                      <td nz-td>{{data.role_names}}</td>
                      <td nz-td *ngIf="data.phone">{{data.phone}}</td>
                      <td nz-td *ngIf="!data.phone">--</td>
                      <td nz-td>
                          <nz-switch [ngModel]="data.enabled == 1" [nzSize]="'small'" (click)="enabledUser(data)"></nz-switch>
                      </td>
                      <td nz-td>
                          <span>
                              <a href="javascript:void(0)" (click)="showModalMiddle(data)">修改</a>
                              <span nz-table-divider></span>
                              <nz-popconfirm [nzTitle]="'确定要删除这条信息吗？'" (nzOnConfirm)="_delete(data.user_id)" [nzPlacement]="'left'">
                                      <a nz-popconfirm >删除</a>
                                  </nz-popconfirm>
                          </span>
                      </td>
                  </tr>
              </tbody>
          </nz-table>
      </div>
  </nz-content>
</nz-layout>


<nz-modal 
  [nzMaskClosable]="false" 
  [nzWrapClassName]="'vertical-center-modal'" 
  [nzContent]="modalContent" 
  [nzVisible]="isVisibleMiddle" 
  [nzWidth]="620"
  [nzTitle]="formTitle" 
  (nzOnCancel)="handleCancelMiddle($event)" 
  (nzOnOk)="handleOkMiddle($event)">
  <ng-template #modalContent>

      <form nz-form [formGroup]="myForm" (ngSubmit)="_submitForm()" class="ditForm">
          <div nz-form-item nz-row style="margin-bottom:0;">

              <div nz-col [nzSpan]="12">
                  <div class="userHead">
                      <div class="uimg">
                          <img *ngIf="formBean.icon" src="{{ service.ctxPath + formBean.icon }}" />
                      </div>
                      <nz-upload [nzShowUploadList]="false" (nzChange)="fileUpload($event)" [nzAccept]="'image/gif,image/jpeg,image/png,image/jpg,image/bmp'"
                          nzAction="{{service.ctxPath + '/api/system/file/upload'}}" [nzData]="{type:'admin',token:service.token}">
                          <button nz-button type="button">
                              <i class="anticon anticon-upload"></i>
                              <span>上传头像</span>
                          </button>
                      </nz-upload>
                      <nz-input formControlName="icon" [(ngModel)]="formBean.icon" [nzType]="'hidden'"></nz-input>
                      <nz-input formControlName="user_id" [(ngModel)]="formBean.user_id" [nzType]="'hidden'"></nz-input>
                  </div>
              </div>
              <div nz-col [nzSpan]="12">
                  <div nz-form-item nz-row>
                      <div nz-form-label>
                          <label nz-form-item-required>用户名</label>
                      </div>
                      <div nz-form-control nzHasFeedback>
                          <nz-input formControlName="user_name" [nzDisabled]="formBean.user_id" [(ngModel)]="formBean.user_name" [nzPlaceHolder]="'请输入帐号'"></nz-input>
                      </div>
                  </div>
                  <div nz-form-item nz-row>
                      <div nz-form-label>
                          <label nz-form-item-required>密码</label>
                      </div>
                      <div nz-form-control nzHasFeedback>
                          <nz-input formControlName="user_pwd" [nzDisabled]="formBean.user_id" [nzType]="'password'" [(ngModel)]="formBean.user_pwd"
                              [nzPlaceHolder]="'请输入密码'"></nz-input>
                      </div>
                  </div>
                  <div nz-form-item nz-row>
                      <div nz-form-label>
                          <label>真实姓名</label>
                      </div>
                      <div nz-form-control nzHasFeedback>
                          <nz-input formControlName="user_real_name" [(ngModel)]="formBean.user_real_name" [nzPlaceHolder]="'请输入真实姓名'"></nz-input>
                      </div>
                  </div>
              </div>
          </div>
          <div nz-form-item nz-row>
              <div nz-col [nzSpan]="12">
                  <div nz-form-label>
                      <label nz-form-item-required>机构/部门</label>
                  </div>
                  <div nz-form-control nzHasFeedback>
                      <nz-cascader style="display:inline-block" 
                          nzChangeOnSelect="true"
                          [nzPlaceHolder]="'请选择组织/部门'" 
                          [nzValueProperty]="'dept_id'" 
                          [nzLabelProperty]="'dept_name'" 
                          (nzLoad)="loadDept($event)"
                          [(ngModel)]="formBean.dept_idss"
                          formControlName="dept_idss">
                      </nz-cascader>                      
                  </div>
              </div>
              <div nz-col [nzSpan]="12">
                  <div nz-form-label>
                      <label nz-form-item-required>角色</label>
                  </div>
                  <div nz-form-control nzHasFeedback>
                      <nz-select 
                          formControlName="role_id" 
                          [nzMode]="'multiple'" 
                          [nzPlaceHolder]="'请选择角色'" 
                          [(ngModel)]="formBean.role_idss" 
                          [nzNotFoundContent]="'无法找到'">
                          <nz-option *ngFor="let option of roleList" [nzLabel]="option.role_name" [nzValue]="option.role_id" [nzDisabled]="option.disabled">
                          </nz-option>
                      </nz-select>
                  </div>
              </div>
          </div>
          
          <div nz-form-item nz-row>
              <div nz-col [nzSpan]="12">
                  <div nz-form-label>
                      <label>个人邮箱</label>
                  </div>
                  <div nz-form-control>
                      <nz-input formControlName="email" [nzType]="'email'" [(ngModel)]="formBean.email" [nzPlaceHolder]="'请填写联系电话'"></nz-input>
                  </div>
              </div>
              <div nz-col [nzSpan]="12">
                  <div nz-form-label>
                      <label>联系电话/手机</label>
                  </div>
                  <div nz-form-control>
                      <nz-input formControlName="phone" [nzType]="'tel'" [(ngModel)]="formBean.phone" [nzPlaceHolder]="'请填写联系电话/手机'"></nz-input>
                  </div>
              </div>
          </div>

          <button style="display:none;">save</button>
      </form>

  </ng-template>
</nz-modal>