<nz-layout class="main-page-layout">
  <nz-header class="main-page-header">
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <a href="#/home">首页</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        机构管理
      </nz-breadcrumb-item>
    </nz-breadcrumb>
  </nz-header>
  <nz-content class="main-page-content">
    <div class="tableListSearch">
      <!--表单-->
      <form nz-form>
        <!--行-->

        <div nz-row nz-form-item>
          <div class="row-actions">
            <button nz-button nzType="primary" (click)="showModalMiddle()">
              <i class="anticon anticon-plus"></i>
              <span>新增</span>
            </button>
            <button nz-button nzType="primary" (click)="editModalMiddle()">
              <i class="anticon anticon-edit"></i>
              <span>修改</span>
            </button>
            <nz-popconfirm [nzTitle]="'删除后数据无法找回,确认删除吗？'" (nzOnConfirm)="delRows()" [nzPlacement]="'bottom'">
              <button nz-popconfirm nz-button nzType="danger">
                <i class="anticon anticon-delete"></i>
                <span>删除</span>
              </button>
            </nz-popconfirm>
            
          </div>
          <div class="row-questions">
            <nz-input [nzType]="'search'" [nzPlaceHolder]="'机构名称'" name="searchText" [(ngModel)]="paramCol.searchText" style="width: 200px;"
              (nzOnSearch)="reload(true)"></nz-input>
          </div>
        </div>
      </form>
      <nz-table #nzTable 
        nzShowSizeChanger 
        [nzShowTotal]="true" 
        [nzAjaxData]="tableData" 
        [nzLoading]="_loading" 
        [nzPageSize]="param.pageSize"
        [nzPageIndex]="param.pageNum" 
        [nzTotal]="param.total" 
        (nzPageSizeChange)="reload(true)">
        <thead nz-thead>
          <tr>
            <th nz-th nzCheckbox>
              <label nz-checkbox [(ngModel)]="_allChecked" [nzIndeterminate]="_indeterminate" (ngModelChange)="_checkAll($event)">
              </label>
            </th>
            <th nz-th><span>机构编码</span><nz-table-sort [(nzValue)]="sortMap.org_code" (nzValueChange)="sort('org_code', $event)"></nz-table-sort></th>
            <th nz-th><span>机构名称</span><nz-table-sort [(nzValue)]="sortMap.org_name" (nzValueChange)="sort('org_name', $event)"></nz-table-sort></th>
            <th nz-th><span>地址</span></th>
            <th nz-th><span>联系人</span></th>
            <th nz-th><span>联系方式</span></th>
            <th nz-th><span>状态</span></th>
          </tr>
        </thead>
        <tbody nz-tbody>
          <tr nz-tbody-tr *ngFor="let data of nzTable.data">
            <td nz-td nzCheckbox>
              <label nz-checkbox [(ngModel)]="data.checked" (ngModelChange)="_refreshStatus($event)"></label>
            </td>
            <td nz-td>{{data.org_code}}</td>
            <td nz-td>{{data.org_name}}</td>
            <td nz-td>{{data.province}}{{data.city}}{{data.area}}{{data.street}}{{data.office_address}}</td>
            <td nz-td>{{data.link_man}}</td>
            <td nz-td>{{data.link_mobile}}</td>
            <td nz-td>
              <nz-switch [ngModel]="data.enabled == 1" [nzSize]="'small'" (click)="_enabled(data)"></nz-switch>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </nz-content>
</nz-layout>


<nz-modal 
    [nzMaskClosable]="false" 
    [nzWidth]="800"
    [nzWrapClassName]="'vertical-center-modal'" 
    [nzContent]="modalContent" 
    [nzVisible]="formBean.isVisibleMiddle"
    [nzTitle]="formBean.formTitle" 
    (nzOnCancel)="handleCancelMiddle($event)" 
    (nzOnOk)="handleOkMiddle($event)">
    <ng-template #modalContent>

        <form nz-form [formGroup]="myForm" (ngSubmit)="_submitForm()">
          <div nz-row>
            <div nz-col [nzSpan]="12">
              <div nz-form-item nz-row>
                <div nz-form-label>
                  <label nz-form-item-required>机构名称</label>
                </div>
                <div nz-form-control nzHasFeedback>
                  <nz-input formControlName="org_name" [nzType]="'text'" [(ngModel)]="formBean.org_name" [nzPlaceHolder]="'请填写机构名称'"></nz-input>
                </div>
              </div>
            </div>
            <div nz-col [nzSpan]="12">
              <div nz-form-item nz-row>
                <div nz-form-label>
                  <label nz-form-item-required>机构编码</label>
                </div>
                <div nz-form-control nzHasFeedback>
                  <nz-input formControlName="org_code" [nzType]="'text'" [(ngModel)]="formBean.org_code" [nzPlaceHolder]="'请填写机构编码'"></nz-input>
                </div>
              </div>
            </div>
          </div>
          <div nz-row>
            <div nz-col [nzSpan]="12">
              <div nz-form-item nz-row>
                <div nz-form-label>
                  <label nz-form-item-required>省/市/区/街</label>
                </div>
                <div nz-form-control nzHasFeedback>
                  <nz-cascader 
                    [nzPlaceHolder]="'请选择'" 
                    [nzValueProperty]="'code'" 
                    [nzLabelProperty]="'region_name'" 
                    (nzLoad)="loadData($event)"
                    [(ngModel)]="formBean.streetParent"
                    formControlName="streetParent"
                    (nzSelectionChange)="changeStreeParent($event)"></nz-cascader>
                </div>
              </div>
            </div>
            <div nz-col [nzSpan]="12">
              <div nz-form-item nz-row>
                <div nz-form-label>
                  <label nz-form-item-required>详细地址</label>
                </div>
                <div nz-form-control nzHasFeedback>
                  <nz-input formControlName="office_address" [nzType]="'text'" [(ngModel)]="formBean.office_address" [nzPlaceHolder]="'请填写办公详细地址'"></nz-input>
                </div>
              </div>
            </div>
          </div>
          <div nz-row>
            <div nz-col [nzSpan]="12">
              <div nz-form-item nz-row>
                <div nz-form-label>
                  <label nz-form-item-required>联系人</label>
                </div>
                <div nz-form-control nzHasFeedback>
                  <nz-input formControlName="link_man" [nzType]="'text'" [(ngModel)]="formBean.link_man"></nz-input>
                </div>
              </div>
            </div>
            <div nz-col [nzSpan]="12">
              <div nz-form-item nz-row>
                <div nz-form-label>
                  <label nz-form-item-required>联系方式</label>
                </div>
                <div nz-form-control nzHasFeedback>
                  <nz-input formControlName="link_mobile" [nzType]="'text'" [(ngModel)]="formBean.link_mobile"></nz-input>
                </div>
              </div>
            </div>
          </div>
          <div nz-row>
            <div nz-col [nzSpan]="12">
              <div nz-form-item nz-row>
                <div nz-form-label>
                  <label nz-form-item-required>授权开始时间</label>
                </div>
                <div nz-form-control nzHasFeedback>
                  <nz-datepicker [(ngModel)]="formBean.auth_date_begin" formControlName="auth_date_begin" [nzPlaceHolder]="'请选择'" style="width: 100%"></nz-datepicker>
                </div>
              </div>
            </div>
            <div nz-col [nzSpan]="12">
              <div nz-form-item nz-row>
                <div nz-form-label>
                  <label nz-form-item-required>授权截至时间</label>
                </div>
                <div nz-form-control nzHasFeedback>
                  <nz-datepicker [(ngModel)]="formBean.auth_date_end" formControlName="auth_date_end" [nzPlaceHolder]="'请选择'" style="width: 100%"></nz-datepicker>
                </div>
              </div>
            </div>
          </div>
          <div nz-form-item nz-row>
            <div nz-form-label>
              <label>备注</label>
            </div>
            <div nz-form-control>
              <nz-input formControlName="remark" [nzType]="'textarea'" [nzAutosize]="{minRows:3, maxRows:3}" [(ngModel)]="formBean.remark"></nz-input>
            </div>
          </div>
          <button style="display:none;">save</button>
        </form>

    </ng-template>
</nz-modal>