<nz-layout class="ng-main">

    <nz-sider class="ng-left" [nzWidth]="250" [nzCollapsed]="isCollapsed" *ngIf="service.loginUserMenus">
      <div class="ng-left-logo">
        <a href="#/home">
          <img src="assets/img/logo.png">
          <h1>研发部技术平台</h1>
        </a>
      </div>
      <ul nz-menu [nzMode]="'inline'" nzTheme='dark' [nzInlineCollapsed]="isCollapsed" *ngIf="service.loginUserMenus">
        <ng-container *ngFor="let one of service.loginUserMenus">
          <ng-container *ngIf="!one.children || one.children.length == 0">
            <li nz-menu-item>
              <a href="{{one.res_url}}">
                <span title>
                  <i class="anticon anticon-{{one.res_icon}}"></i>
                  <span>{{one.res_name}}</span>
                </span>
              </a>
            </li>
          </ng-container>
          <ng-container *ngIf="one.children && one.children.length > 0">
            <li nz-submenu [nzOpen]="one.select">
              <span title>
                <i class="anticon anticon-{{one.res_icon}}"></i>
                <span>{{one.res_name}}</span>
              </span>
              <ul>
                <ng-container *ngFor="let two of one.children">
                  <ng-container *ngIf="!two.children || two.children.length == 0">
                    <li nz-menu-item [nzSelected]="activeMenu && activeMenu.module == two.res_key">
                      <a href="{{two.res_url}}">{{two.res_name}}</a>
                    </li>
                  </ng-container>
                  <ng-container *ngIf="two.children && two.children.length > 0">
                    <li nz-submenu [nzOpen]="two.select">
                      <span title>{{two.res_name}}</span>
                      <ul>
                        <ng-container *ngFor="let three of two.children">
                          <li nz-menu-item [nzSelected]="activeMenu && activeMenu.module == three.res_key">
                            <a href="{{three.res_url}}">{{three.res_name}}</a>
                          </li>
                        </ng-container>
                      </ul>
                    </li>
                  </ng-container>
                </ng-container>
              </ul>
            </li>
          </ng-container>
        </ng-container>
      </ul>
    </nz-sider>
  
    <nz-content>
      <nz-layout class="ng-main ng-main-content">
        <nz-header *ngIf="service.loginUserMenus">
          <i class="anticon ng-action-menu" (click)="toggleCollapsed()" [class.anticon-menu-unfold]="isCollapsed" [class.anticon-menu-fold]="!isCollapsed"></i>
          <a href="#/home" class="ng-action-home">
            <i class="anticon anticon-home"></i> 湖北长江传媒数字科技有限公司
          </a>
          <ul class="ng-top-raction">
            <li>
              <i class="anticon anticon-search"></i>
            </li>
            <li>
              <nz-badge [nzCount]="0" [nzOverflowCount]="0">
                <ng-template #content>
                  <a class="head-example">
                    <i class="anticon anticon-bell"></i>
                  </a>
                </ng-template>
              </nz-badge>
            </li>
            <li>
              <span class="head-uName">蔡</span>
            </li>
            <li>设置</li>
            <li (click)="loginOut()">注销</li>
          </ul>
        </nz-header>
        <nz-content>
          <router-outlet></router-outlet>
        </nz-content>
      </nz-layout>
    </nz-content>
  
  </nz-layout>